.manage-plugin-config-external-icons {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
}

.qr-code-placeholder {
  width: 175px;
  height: 175px;
  border: 2px solid currentColor;
  border-radius: 8px;
  background-color: #f8f9fa;
  padding: 20px;
}

::ng-deep {
  body.dark-mode,
  [class*='config-ui-x-dark-mode'] {
    .qr-code-placeholder {
      background-color: #1a1a1a;
    }
  }
}
