::ng-deep {
  .switch-on {
    svg {
      .red-outline {
        stroke: #d32f2f;
        animation: flash 1s infinite;
      }

      @keyframes flash {
        0%,
        100% {
          stroke-opacity: 0.8;
        }

        50% {
          stroke-opacity: 0.2;
        }
      }
    }
  }
}
