.app-spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  @media (max-width: 767px) {
    left: 0;
    top: 65px;
  }
}

.animate_loader svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  overflow: visible;
}
