/* Accessory Control Global CSS */

.accessory-widget-box,
.accessory-tab {
  .accessory-box {
    background-color: #e0e0e0;
  }

  .accessory-on {
    background-color: #fff !important;
    color: #000000 !important;
  }
}

.accessory-box {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 15px;
  transition: all 0.15s ease-in-out;

  @media (max-width: 575px) {
    height: 100px;
    width: 100px;
    padding: 8px;
    margin: 7px;
  }

  &:active {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
  }
}

.accessory-svg {
  #accessoryIcon {
    fill: grey;
  }

  svg {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;

    @media (max-width: 575px) {
      margin-bottom: 8px;
      height: 31px;
      width: 31px;
    }
  }
}

.accessory-img {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 575px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

.accessory-icon {
  font-size: 50px;
  display: block;
  margin-bottom: 10px;

  @media (max-width: 575px) {
    margin-bottom: 8px;
    height: 31px;
    width: 31px;
  }
}

.accessory-label {
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 575px) {
    margin-top: 0;
    font-size: 10px;
  }
}

.accessory-item {
  position: relative;
  @media (max-width: 991px) {
    .manage-accessory-button {
      opacity: 1 !important;
      filter: grayscale(100);
    }
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      .manage-accessory-button {
        opacity: 0.5;
      }
    }
  }

  @media (max-width: 575px) {
    .manage-accessory-button {
      top: 5px !important;
      right: 5px !important;
    }
  }

  .manage-accessory-button {
    cursor: pointer;
    float: right;
    opacity: 0;
    position: absolute;
    top: 25px;
    right: 15px;
    padding: 10px;

    @media (hover: hover) {
      &:active,
      &:hover,
      &:focus {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  .refreshing-accessory-status-icon {
    float: right;
    position: relative;
    top: 35px;
    right: 25px;
    padding: 0;

    @media (max-width: 575px) {
      top: 18px !important;
      right: 15px !important;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
