.plugin-md {
  text-align: left;
  font-size: 0.85rem;
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 300;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  h5 {
    font-size: 1.1rem;
    font-weight: 300;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 16px auto;
    border-collapse: collapse;
    border: 1px solid #d0d7de;
    font-size: 14px;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
    text-align: left;
    color: #333 !important;
  }

  th {
    font-weight: 600;
    text-align: center;
  }

  td[align='center'] {
    text-align: center;
  }
}

body.dark-mode .plugin-md {
  pre {
    background-color: #1e1e1e;
  }

  table {
    border-color: #444;
  }

  th,
  td {
    border-color: #444;
    color: #eee !important;
  }
}
