::ng-deep {
  body.dark-mode {
    .c-blinds {
      fill: #2b2b2b;
      stroke: #2b2b2b;
      stroke-opacity: 0.8;
      fill-opacity: 0.8;
    }
  }

  // Window Covering styles
  svg {
    .c-blinds {
      transition: height 3s ease;
      height: 27.6px;
    }

    .c-light {
      transition:
        y 3s ease,
        height 3s ease;
      y: 29.9px;
      height: 0;
    }
  }

  .accessory-on {
    svg {
      .c-blinds {
        transition: height 3s ease;
        height: 0.3px;
      }

      .c-light {
        transition:
          y 3s ease,
          height 3s ease;
        y: 2.65px;
        height: 27.3px;
      }
    }
  }

  // Door styles
  svg {
    .outline {
      transition: width 3s ease;
      width: 12.8px;
    }

    .panel {
      transition: width 3s ease;
      width: 9.6px;
    }

    .handle {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 3s ease,
        visibility 0s linear 3s;
    }
  }

  .accessory-on {
    svg {
      .outline {
        transition: width 3s ease;
        width: 3.8px;
      }

      .panel {
        transition: width 3s ease;
        width: 0.6px;
      }

      .handle {
        visibility: hidden;
        opacity: 0;
        transition:
          opacity 3s ease,
          visibility 0s linear 0s;
      }
    }
  }

  // Window styles
  svg {
    .outline-left {
      x: 2.8px;
      width: 12.4px;
    }

    .divider-left {
      x: 3.66px;
      width: 10.68px;
    }

    .handle-left {
      x: 15.16px;
      width: 0.1px;
    }

    .outline-right {
      x: 16.8px;
      width: 12.4px;
    }

    .divider-right {
      x: 17.66px;
      width: 10.68px;
    }

    .handle-right {
      x: 16.76px;
      width: 0.1px;
    }
  }

  .accessory-on {
    svg {
      .outline-left {
        x: 2.8px;
        width: 2.4px;
      }

      .divider-left {
        x: 3.66px;
        width: 0.68px;
      }

      .handle-left {
        x: 5.16px;
        width: 0.1px;
      }

      .outline-right {
        x: 26.8px;
        width: 2.4px;
      }

      .divider-right {
        x: 27.66px;
        width: 0.68px;
      }

      .handle-right {
        x: 26.76px;
        width: 0.1px;
      }
    }
  }
}
