.accessory-on .accessory-svg {
  circle {
    stroke: #1976d2;
    stroke-opacity: 0.75;
    stroke-width: 2.5;
  }

  line {
    stroke: #1976d2;
    stroke-opacity: 0.75;
  }

  path {
    fill: #1976d2;
    fill-opacity: 0.75;
  }
}
